@import "vars"
@import "fonts"
@import "libs"

/*==========  user style  ==========*/
body
	font-family: 'Nunito', sans-serif
	min-width: 535px

a
	transition: .3s
	&:hover
		color: $accent-2
		text-decoration: none

.input-form
	padding: 15px 50px
	border-radius: 30px
	width: 100%
	border: 2px solid #cccccc
	+media-breakpoint-down(lg)
		padding: 10px 25px

.btn
	display: inline-block
	padding: 15px 50px
	border-radius: 30px
	font-size: 20px
	transition: .4s
	font-weight: bold
	text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.44)
	cursor: pointer
	+media-breakpoint-down(lg)
		font-size: 16px
		padding: 10px 25px
	

	&__theme_orange
		background-color: $accent-2
		color: #fff
		border: 2px solid $accent-2
		&:hover
			border: 2px solid #000
			background-color: #000
			color: #fff
	
	&__theme_transparent
		border: 2px solid $accent-2
		background-color: transparent
		color: $accent-2
		&:hover
			color: #fff
			background-color: $accent-2

	&__theme_width-100
		width: 100%
.test
	color: #000

.page-header
	padding: 35px 0
	+media-breakpoint-down(md)
		position: fixed
		width: 100%
		top: 0
		z-index: 9999
		background-color: $accent-2
		padding: 10px 0
		box-shadow: 0 3px 5px 0 rgba(0,0,0,.25);
	.container
		+media-breakpoint-down(md)
			width: 100%
			padding-left: 15px
			padding-right: 15px
			
.mobile-menu
	background: none
	border: none
	outline: 0 none
	font-size: 25px
	color: #fff
	cursor: pointer
	&:focus
		outline: 0 none
.list
	list-style: none
	margin: 0
	padding: 0

	&_line
		display: flex
.logo
	+media-breakpoint-down(lg)
		padding-right: 20px
	img
		+media-breakpoint-down(lg)
			width: 100%
// header
.navigation
	text-align: center
	&__item
		&:not(:last-child)
			margin-right: 35px
			+media-breakpoint-down(xxl)
				margin-right: 30px
			+media-breakpoint-down(xl)
				margin-right: 18px
			+media-breakpoint-down(lg)
				margin-right: 15px
			+media-breakpoint-down(md)
				margin-right: 0
	&__link
		color: #000
		font-weight: 500
		font-size: 20px
		transition: .3s
		+media-breakpoint-down(lg)
			font-size: 16px
		+media-breakpoint-down(md)
			color: #fff
			font-size: 26px
		&:hover
			color: $accent-2
			text-decoration: none
			+media-breakpoint-down(md)
				color: $accent

	&__link
		color: #000
		font-weight: 500
		font-size: 20px
		transition: .3s
		+media-breakpoint-down(lg)
			font-size: 16px
		+media-breakpoint-down(md)
			color: #fff
			font-size: 26px
		&:hover
			color: $accent-2
			text-decoration: none
			+media-breakpoint-down(md)
				color: $accent


.navigation-top
	text-align: center
	transition-timing-function: ease, ease
	+media-breakpoint-down(md)
		flex-direction: column
		display: none
	&.active
		height: 320px
	&__item
		+media-breakpoint-down(md)
			padding-top: 15px
		&:not(:last-child)
			margin-right: 35px
			+media-breakpoint-down(xxl)
				margin-right: 30px
			+media-breakpoint-down(xl)
				margin-right: 18px
			+media-breakpoint-down(lg)
				margin-right: 15px
			+media-breakpoint-down(md)
				margin-right: 0

	&__link
		color: #000
		font-weight: 500
		font-size: 20px
		transition: .3s
		+media-breakpoint-down(lg)
			font-size: 16px
		+media-breakpoint-down(md)
			color: #fff
			font-size: 26px
			font-weight: bold
		&:hover
			color: $accent-2
			text-decoration: none
			+media-breakpoint-down(md)
				color: $accent
.mobile-logo
	margin-top: 80px
.social

	&__item
		&:not(:last-child)
			margin-right: 20px

	&__link
		font-size: 24px
		color: #464646
		&:hover
			+media-breakpoint-down(md)
				color: $accent
		+media-breakpoint-down(md)
			color: #fff
.mt-md-10
	+media-breakpoint-down(md)
		margin-top: 100px
	+media-breakpoint-down(sm)
		margin-top: 10px
.slider
	margin-bottom: 100px
	+media-breakpoint-down(lg)
		margin-bottom: 60px
	+media-breakpoint-down(md)
		margin-top: 30px

	&__img
		img
			width: 100%

	&__item
		position: relative
		&:before
			position: absolute
			content: ''
			top: 0
			bottom: 0
			left: 0
			right: 0
			background: linear-gradient(90deg, rgba(243,74,145,0.5690870098039216) 0%, rgba(246,126,177,0) 55%, rgba(255,255,255,0) 100%)
			+media-breakpoint-down(md)
			background: linear-gradient(90deg, rgba(243,74,145,0.5690870098039216) 0%, rgba(246,126,177,0) 100%, rgba(255,255,255,0) 100%)

	&__content
		position: absolute
		top: 50%
		transform: translateY(-50%)
		

	&__title
		font-size: 80px
		color: #fff
		text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.44)
		+media-breakpoint-down(lg)
			font-size: 55px
		+media-breakpoint-down(sm)
			font-size: 35px
		

		&-2
			font-size: 26px
			padding-bottom: 20px
			color: #fff
			text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.44)
			+media-breakpoint-down(lg)
				font-size: 20px
			+media-breakpoint-down(sm)
				font-size: 16px
				padding-bottom: 5px
	
	&__text
		font-size: 16px
		padding-bottom: 25px
		padding-right: 40px
		color: #fff
		text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.44)
		+media-breakpoint-down(lg)
			font-size: 15px
		+media-breakpoint-down(sm)
			font-size: 14px
			padding-bottom: 10px
.page-section
	padding-bottom: 80px
	+media-breakpoint-down(xl)
		padding-bottom: 20px
	+media-breakpoint-down(lg)
		padding-bottom: 80px
.banner
	position: relative
	&:before
		position: absolute
		content: ''
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: linear-gradient(90deg, rgba(243,74,145,0.5690870098039216) 0%, rgba(246,126,177,0) 100%)
	&__img
		img
			width: 100%

	&__content
		position: absolute
		top: 50%
		transform: translateY(-50%)
		padding: 0 40px

	&__title
		font-size: 60px
		color: #fff
		text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.44)
		+media-breakpoint-down(lg)
			font-size: 45px

	&__text
		padding-bottom: 40px
		padding-right: 40px
		color: #fff
		font-weight: bold
		font-size: 20px
		text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.44)
		+media-breakpoint-down(lg)
			font-size: 15px

.h-xxxl-540
	+media-breakpoint-down(xxxl)
		height: 540px
	+media-breakpoint-down(xxl)
		height: auto
.card-product
	transition: .3s
	height: 446px
	+media-breakpoint-down(lg)
		height: 350px
	
	&:hover
		//box-shadow: 0 10px 10px rgba(0,0,0,.1)
		.product__action
			visibility: visible
			top: 65%
			opacity: 1
			box-shadow: 0 10px 10px rgba(0,0,0,.1)
			+media-breakpoint-down(xl)
				top: 55%
			+media-breakpoint-down(lg)
				top: 60%
			+media-breakpoint-down(md)
				top: 80%
			+media-breakpoint-down(sm)
				top: 55%
		.product__title
			color: $accent-2
		.product__price
			color: $accent-2

	&_img
		img
			width: 100%

	&__content
		padding: 30px 0
		text-align: center

.product

	&__title
		font-size: 20px
		color: #000
		+media-breakpoint-down(lg)
			font-size: 16px
	
	&__price
		font-weight: 900
		font-size: 26px
		color: #000
		+media-breakpoint-down(lg)
			font-size: 22px

	&__action
		visibility: hidden
		transition: .3s
		position: absolute
		top: 50%
		opacity: 0
		left: 50%
		transform: translateX(-50%)
		padding: 10px 0 25px
		width: calc(100% - 10px)
		height: 250px
		display: flex
		justify-content: center
		background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 64%, rgba(255,255,255,1) 65%)
		z-index: 10
		+media-breakpoint-down(lg)
			height: 190px
		+media-breakpoint-down(md)
			height: 250px
		.btn
			margin-top: auto

.subscribe
	padding: 30px
	display: flex
	flex-direction: column
	justify-content: center
	height: 100%
	+media-breakpoint-down(lg)
		padding: 5px
	&__title
		text-align: center
		font-size: 26px
		+media-breakpoint-down(lg)
			font-size: 22px

	&__text
		text-align: center
		font-weight: 500
		color: #828282
		+media-breakpoint-down(lg)
			font-size: 15px
	
	&__input
		margin-bottom: 20px

.page-footer
	padding: 80px 0
	background-color: #fafafa
	border-top: 1px solid #ebebeb
	+media-breakpoint-down(md)
		margin-top: 60px
	+media-breakpoint-down(sm)
		margin-top: 0
		padding: 30px 0 20px

	&__column

		&_title
			font-size: 35px
			text-align: left

		&_text
			color: #828282
			font-weight: 500
			font-size: 15px
			line-height: 1.45

	&_navigation
		.navigation__item
			text-align: left
			margin-bottom: 7px
			.navigation__link
				font-size: 15px
				line-height: 1.45
				color: #828282


	.address-list
		font-size: 15px
		line-height: 1.45
		color: #828282
		.fa
			margin-right: 10px
			font-size: 20px
		li
			margin-bottom: 5px
			a
				color: #828282
				&:hover
					color: $accent-2


.mfp-content
	width: 600px !important
	margin: 0 auto
	background-color: #fff

#order-form
	text-align: center
	padding: 20px

	.order-list

		&__item
			margin-bottom: 20px
			.input-form
				&:focus
					outline: none 0
					border: 2px solid $accent-2
	.btn
		color: #fff
	.changeOrder
		background-color: darken($accent-2,10%)
		&:hover
			background-color: #000

.other-page
	.container
		border-top: 2px solid rgba(#828282,.2)
	.page-title
		text-align: center
		text-transform: uppercase
		font-weight: 900
		font-size: 70px
		padding: 25px 0 50px
		+media-breakpoint-down(lg)
			padding: 25px 0 10px

.section__title
	text-align: center
	margin-bottom: 20px
	h2
		+media-breakpoint-down(lg)
			font-size: 20px
		+media-breakpoint-down(md)
			font-size: 16px
	p
		color: #888888
		+media-breakpoint-down(md)
			font-size: 13px
	&_big
		font-size: 35px
		text-transform: uppercase
		font-weight: 900
		h2
			+media-breakpoint-down(lg)
				font-size: 35px
.advantages
	&__item
		text-align: center
		text-transform: uppercase
		color: $accent-2
		font-weight: 900
		line-height: 1
		padding: 30px 0
	&__count
		font-size: 60px
		+media-breakpoint-down(md)
			font-size: 50px
		+media-breakpoint-down(sm)
			font-size: 60px
	&__title
		font-size: 25px
		+media-breakpoint-down(lg)
			font-size: 19px
		+media-breakpoint-down(md)
			font-size: 15px
		+media-breakpoint-down(sm)
			font-size: 25px

.events
	padding: 50px 0
	+media-breakpoint-down(lg)
		padding: 20px 0 50px
	&__item
		text-align: center
	&__icon
		width: 135px
		height: 135px
		border-radius: 50%
		border: 3px solid $accent-2
		font-size: 60px
		color: $accent-2
		line-height: 135px
		text-align: center
		margin: 0 auto
		margin-bottom: 20px
	&__title
		font-size: 17px
		+media-breakpoint-down(md)
			font-size: 16px
	&__desc
		font-size: 15px
		color: #828282
		padding: 0 15px
		+media-breakpoint-down(lg)
			padding: 0 5px
		+media-breakpoint-down(md)
			font-size: 13px

.team
	&__item
		text-align: center
	&__title
		text-transform: uppercase
		color: $accent-2
		font-size: 16px
		margin-bottom: 0
		margin-top: 10px
		+media-breakpoint-down(lg)
			font-size: 15px
	&__desc
		font-size: 14px
		color: #828282
	&__img
		img
			width: 100%

.testimonials
	padding: 60px 0
	&__slick
		width: 900px
		margin: 0 auto
		+media-breakpoint-down(md)
			width: auto
	&__item
		width: 640px
		padding: 20px
		&:focus
			outline: 0 none
		cite
			display: block
			text-align: center
			text-transform: uppercase
			color: $accent-2
		q
			position: relative
			color: #888888
			font-size: 18px
			&:before
				content: '\f10d'
				font-family: "FontAwesome"
				width: 100px
				height: 100px
				font-size: 60px
				margin-right: 20px
				line-height: 1
				color: #d0d0d0

.form-write-us
	margin-bottom: 40px
	.form__label
		display: block
		color: #888
		padding-left: 15px
		line-height: 1
		span
			color: $accent-2
	.input-form
		&:focus
			outline: 0 none
			border: 2px solid $accent-2
	.input__wrap
		margin-bottom: 20px
	.button-wrapper
		text-align: center
		margin: 0 auto

.map
	padding-bottom: 80px
.btn_mini
	padding: 5px
	font-size: 15px
	display: block
	margin-bottom: 5px
	margin-left: 15px
	border: none
	padding: 5px 15px
.sidebar
	width: 100%
	padding-right: 30px
	h2
		text-transform: uppercase
.accord
	border: 1px solid #ccc
	margin-bottom: 15px
	h3
		cursor: pointer
		padding: 15px
		display: flex
		justify-content: space-between
		margin-bottom: 0
		align-items: center
	.drop-down
		display: none
		text-align: center
/*==========  user style  ==========*/
.slick-dots li button:before
	font-size: 55px
@import "media" // Always at the end